
.popup_box{ background:#ddd;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 8px; position:relative;

font-family:Calibri,arial; color:#333333;
text-shadow:0 1px 0 #fff;
font-size:14px;
}
.close_but{ position:absolute; right:0; margin:-32px 10px 0 0; cursor:pointer;}
.head_title{ background:url(../images/pop_title_bg.png) no-repeat scroll left 0px transparent; padding:0px 0 10px 12px; font-size:19px; color:#000; text-shadow:#eee 0px 1px 0px; }

.in_box{ background:#fff; padding:10px; border:1px solid #ccc;}
.in_box form{ padding:0px;font-size:16px;}
.in_box form table input[type="text"], .in_box form table input[type="password"]{width:227px; border:1px solid #bbb; background:#fff; padding:5px; margin:0px 0 14px 0;}

.in_box form table tr td{ vertical-align:top;}
.in_box form table select{width:238px;background:#fff;padding:4px;border:1px solid #bbb;height:28px;}
.in_box form table tr td p{ width:20px; padding:6px 5px}
.in_box form table tr td span{ /*display:block;*/ font-size:12px; color:#888; font-style:italic;/* margin-top:-6px;*/ }
.in_box form table tr td span abbr{color:#e11010; font-size:15px; font-weight:bold; border-top:2px solid #e11010;}
.in_box form table tr td input[type="checkbox"]{ margin:14px 0 0 0;}

.buttons, .next_but{ background:url(../images/but-bg.png) repeat-x;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px; text-align:center; font-size:18px; color:#fff; text-transform:uppercase; font-weight:normal; text-shadow:1px -1px 0px #7e3e0e; padding:5px 6px; border:1px solid #713311; min-width:70px; cursor:pointer;}

.button_un{ background:url(../images/but-bg2.png) repeat-x;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px; text-align:center; font-size:18px; color:#fff; text-transform:uppercase; font-weight:normal; text-shadow:1px -1px 0px #471b0e; padding:5px 6px; border:1px solid #471b0e; min-width:70px; cursor:pointer;}
.pop_innerCont{width:400px; height:auto; padding:10px 50px; }


.pop_arrow{ background :url(../images/menu_saub_arrow.png) no-repeat scroll 0 0 transparent; width:45px; height:14px; float:right; padding:1px 0px; margin-right:2px; position:relative; top:-16px;}

.pop_btn{ /* for non-css3 browsers */
	font-size:18px; text-transform:uppercase;
   border: 3px solid #eaeae6;
	 

	 
   color: #fff;
    cursor: pointer;
	margin-left:7px;
    height: 39px;
    text-align: center;
    width: 154px;
		
-moz-border-radius: 19px;/*Firefox*/
-webkit-border-radius: 19px;/*Safari, Chrome*/
border-radius: 19px;
		

}

.forgot{ width:200px; height:auto; color:#0B77B3; padding:10px 0 0 15px; float:left;}
.forgot a{color:#0B77B3; text-decoration:none;}
.forgot a:hover{color:#000; text-decoration:none; }

.radio_heading{width:390px; height:auto; font-size:14px; color:#333333; font-weight:bold; float:left; }
.radio_row2{width:390px; height:auto; padding:0px 0 10px 0; float:left;}
.radio_box{width:20px; height:20px; float:left; padding:3px 0 0 0;}
.radio_subText{width:50px; height:auto; float:left;}

.join_nowPic{width:288px; height:371px; float:right;}
.send_but{width:200px; height:auto; float:left; padding:10px 0 0 100px;}
.join_nowHeadingMain{width:400px; height:auto; float:left; font-size:30px; color:#ff6e00;}

.buttons, .next_but {
  
    border: 1px solid #713311;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    min-width: 70px;
    padding: 5px 6px;
    text-align: center;
    text-shadow: 1px -1px 0 #7E3E0E;
    text-transform: uppercase; background:#471B0E;
}

.button_un {
   
    border: 1px solid #471B0E;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    min-width: 70px;
    padding: 5px 6px;
    text-align: center;
    text-shadow: 1px -1px 0 #471B0E;
    text-transform: uppercase; background:#471B0E;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.popUpBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    min-width: 100px;
    padding: 15px;
}
.tablepopup .closeButPop {
    margin: -22px -6px;
    position: absolute;
    right: 0;
}
.new_pop .in_box form table select{ width:162px !important}

.r1{ padding:0 0 0 0;}
.t1{ color:#000; width:220px; float:left; padding:0 0 0 0; font-weight:bold;}
.t2{ float:left; padding:1px; width:215px;}
.imgBg{ background:#fff; box-shadow:#000 0px 1px 3px ; padding:5px; margin-top:5px; margin-left:10px; float:left;}
.btn1{ padding:0px 0 10px 172px;}

.t01{ color:#000; width:60px; float:left; padding:0 0 0 0; font-weight:bold;}
.t02{ float:left; padding:0 0 0 0;}
.t01new{ color:#000; width:85px; float:left; padding:0 0 0 0; font-weight:bold;}
.signCont{ float:left; padding:10px 0 0 70px;}
.p_cont{float:left; padding:10px 0 0 0px;}



.pLeft{ float:left; width:425px;}
.pRight{ float:right; padding:0 10px 0 0;}
.pT1{ color:#000; width:210px; float:left; padding:0 0 0px 0; font-weight:bold;}
.pCont{ padding:10px 0 0 0px;}
.signNew2{ padding:10px 0 0 0px;}

.pNew{ color:#000; width:110px; padding:0 0 0 0; font-weight:bold; text-align:center;}
.b_ton{ padding:30px 0 0 137px; float:left;}

.input-group .small_text {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 13px -3px #CCCCCC inset;
    color: #777777;
    padding: 10px 10px 10px 14px;
	width:520px;
    
}
.input-group .heding{padding:15px 0 5px; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.input-group textarea{width:545px; height:80px; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin-top:10px;}
.p1{padding-top:10px; text-align:center; font-weight:bold;}

.viewClass{ text-align:center; padding:0 0 0 18px;}

.pop_arrow2{
background: url("../images/menu_saub_arrow.png") no-repeat scroll 0 0 transparent;
float: right;
height: 14px;
margin-right: 15px;
padding: 1px 0;
position: relative;
top: -16px;
width: 45px;}



.erMsg{
color: red;
float: right;
padding: 8px 0 0;
text-align: right !important;
font-size:13px;
}

.bModal__wPopup1{
	
	z-index:9999px !important;  }
	
.text_field{width:310px; border:1px #ccc solid; height:30px; margin-bottom:10px; padding-left:5px; outline:none;}