
/********************************      Basic Structure      ********************************/

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family: Arial, Helvetica, sans-serif;
                color: #555;
                background: #f0f0f0 url('../images/bg-body.gif') top left repeat-y;
                font-size: 12px;
                }

#body-wrapper {
                background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
                }                

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: Helvetica, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #e33b3b; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }
				
.align-left {
                float: left;
                }
				
.align-right {
                float: right;
                }

/************ Button ************/
.button {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
                background: #e33b3b url('../images/bg-button-green.gif') top left repeat-x !important;
                border: 1px solid #ae362c !important;
                padding: 4px 11px 3px 11px !important;
                color: #fff !important;
                font-size: 12px !important;
                cursor: pointer;
                }
				
.red { 
background: #a9222d !important; /* for non-css3 browsers */
background: linear-gradient(top, #a9222d,#e36d76) !important; /* W3C */
background: -moz-linear-gradient(top, #a9222d,  #e36d76) !important; /* for firefox 3.6+ */ 
background: -webkit-gradient(linear, left top, left bottom, from(#a9222d), to(#e36d76)) !important; /* Safari 4+, Chrome */
background: -webkit-linear-gradient(left top, left bottom, #a9222d, #e36d76) !important; /* Chrome 10+, Safari 5.1+, iOS 5+ */
background: -o-linear-gradient(top, #a9222d,#e36d76) !important; /* Opera 11.10+ */
background:-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#a9222d, EndColorStr=#e36d76, GradientType=0)" !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9222d', endColorstr='#e36d76', GradientType='0') !important; /* for IE */	
border: 1px solid #a9222d !important;
margin-top:0px !important;
  text-align: center;
    width: 88px;
}			
                
.button:hover {
                text-decoration: underline;
                }
                
.button:active {
                padding: 4px 11px 3px 11px !important;
                }
.actions-left {
				float:left;
				margin-right:20px;
				}
.editor table { 
				border:none !important;
}
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}

/********************************      Sidebar      ********************************/

#sidebar {
                background: url('../images/bg-sidebar.gif') top left no-repeat;
                width: 230px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                color: #888;
                font-size: 11px;
                }

#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                }

#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

#sidebar #sidebar-title {
                margin: 40px 0 40px 15px;
                }

#sidebar #logo {
                margin: 0px;
                }

#sidebar #profile-links {
  font-size: 12px;
  line-height: 1.5em;
  padding: 14px 15px;
  text-align: left;
}

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width: 206px;
                padding: 0;
                margin: 0 0 0 15px;
                font-family: Helvetica, Arial, sans-serif;
                }

#sidebar #main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: right;
                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
                }

#sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
                }
                
#sidebar #main-nav li a.current:hover {
                color: #333;
                }

#sidebar #main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
				padding: 0;
                }

#sidebar #main-nav ul li a {
                padding: 8px 15px;
                display: block;
                color: #aaa;
                font-size: 13px;
                line-height: 1.2em;
                }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #fff;
                }

#sidebar #main-nav ul li a.current {
                background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                }


/************ Messages ************/

#messages p,
#messages form {
                border-top: 1px solid #ddd;
                padding: 10px 0;
                }

#messages h4 {
                padding: 10px 0;
                }
				
#messages fieldset {
                margin: 0;
                }
				
#messages textarea {
                margin: 0 0 15px 0;
                }
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
                margin: 0 30px 0 260px;
                padding: 40px 0 0 0;
                }

.column-left {
                width: 48%;
                float: left;
                }
                
.column-right {
                width: 48%;
                float: right;
                }
               
#page-intro {
                font-size: 17px;
                padding: 0 0 20px 0;
                }

				
#footer {
				border-top: 1px solid #ccc;
				margin: 40px 0 0 0;
				padding: 20px 0;
				font-size: 12px;
                }
/************ Lists ************/

#main-content ul,
#main-content ol {
                padding: 10px 0;
				margin-left:-20px;
                }

/* Unordered List */

#main-content ul li {
                background: url('../images/icons/bullet_black.png') center left no-repeat;
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

#main-content ol {
                padding: 0 0 0 24px;
                }

#main-content ol li {
                list-style: decimal;
                padding: 4px 0;
                }

/*************** Content Box ***************/

.content-box {
                border: 1px solid #ccc;
                margin: 0 0 20px 0;
                background: #fff;
                }

.content-box-header {
                background: #e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;
                margin-top: 1px;
                height: 40px;
                }

.content-box-header h3 {
                padding: 12px 15px 10px;
                float: left;
                }

ul.content-box-tabs {
                float: right;
                padding: 12px 15px 0 0 !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin-left:3px;
                padding: 0 !important;
                background-image: none !important;
                }
                
ul.content-box-tabs li a {
                color: #333;
								margin-left:10px;
                padding: 8px 10px;
                display: block;
               border-radius:4px 4px 0px 0px ;
                border-bottom: 0;
                margin: 0;
								padding-left:30px; padding-right:30px;
								border-bottom:none !important;
								border:1px solid #d7dada; font-family:arial, helvetica, sans-serif;font-weight:bold; text-align: center;  background-color: #f4f5f5;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
								
                }

ul.content-box-tabs li a:hover {
                color: #333;
								
								  
								
                }              
                
ul.content-box-tabs li a.current {
               
                border-bottom: 0;
                margin: 0;
								padding-left:30px; padding-right:30px; 
								 border: 1px solid #e33b3b !important; font-family:arial, helvetica, sans-serif;font-weight:bold; text-align: center;
								background:url("../images/bg-button-green.gif") repeat-x scroll left top #e33b3b !important;
								color:#fff;
                }

.content-box-content {
                padding: 5px;
                font-size: 13px;
                border-top: 1px solid #ccc;
                }
                
/************ Table ************/

#main-content table {
                width: 100%;
                border-collapse: collapse;
				border:1px solid #e9e9e9 !important;
				font-family:Arial, Helvetica, sans-serif !important; 
				margin-bottom: 7px;
                }

								
								
                
#main-content table thead th {
				
				background: url("../images/bg-content-box.gif") repeat-x scroll left top #E5E5E5;
                font-weight: bold;
                font-size: 12px;
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody {
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody tr {
                background: #fff;
                }
              
#main-content tbody tr.alt-row {
                background: #f3f3f3;
                }
                
#main-content table td,
#main-content table th {
                
    line-height: 1.3em;
    padding: 10px 5px;
                } 

				
#main-content table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }      
				
/*************** Pagination ***************/

#main-content .pagination {
                text-align: right;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                }
.pagination a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }
.pagination a img{
                 margin-left: -10px;
								 vertical-align:middle;
   
	                 }
.pagination span.text-red {
                margin: 0 5px 0 0;
                padding: 3px 6px;
				border: 1px solid #e33b3b;
				-moz-border-radius: 4px;/*Firefox*/
				-webkit-border-radius: 4px;/*Safari, Chrome*/
				border-radius: 4px;
                }

.pagination a.page {
				border: 1px solid #ddd;
                }

.pagination span.text-red {
                background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
                border-color: #e33b3b !important;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }

/************ Shortcut Buttons ************/

.shortcut-button {
                border: 1px solid #ccc;
                background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                width: 120px;
                margin: 0 0 20px 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                display:block;
                padding: 15px 10px 15px 10px;
                text-align: center;
                color: #555;
                font-size: 13px;
                line-height: 1.3em;
                }

.shortcut-button span img {
                margin-bottom: 10px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #e33b3b; 
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 15px 0 0;
				padding: 0 !important;
				background: 0;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }
				
				
form input.text-input,
form select,
form textarea,
form .wysiwyg {
                padding: 6px;
                font-size: 13px;
                background: #fff url('../images/bg-form-field.gif') top left repeat-x;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }
                
form textarea {
                width: 97.5% !important;
                font-family: Arial, Helvetica, sans-serif;
                }
                
form select {
                padding: 4px;
                background: #fff;
			    width:255px;
                }
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
				width:100px; float:left;
				margin-top:8px;
                }

/*************** Notifications ***************/

.notification {
                position: relative;
                margin: 0 0 15px 0;
                padding: 0;
                border: 1px solid;
                background-position: 10px 11px !important;
                background-repeat: no-repeat !important;
                font-size: 13px;
                width: 99.8%;
                }
                

.attention {
                background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
                border-color: #e6db55;
                color: #666452;
                }

.information {
                background: #dbe3ff url('../images/icons/information.png');
                border-color: #a2b4ee;
                color: #585b66;
                }

.success {
                background: #d5ffce url('../images/icons/tick_circle.png');
                border-color: #9adf8f;
                color: #556652;
                }

.error {
                background: #ffcece url('../images/icons/cross_circle.png');
                border-color: #df8f8f;
                color: #665252;
                }

.notification div {
                display:block;
                font-style:normal;
                padding: 10px 10px 10px 36px;
                line-height: 1.5em;
                }

.notification .close {
                color:#990000;
                font-size:9px;
                position:absolute;
                right:5px;
                top:5px;
                }

/* Notification for form inputs */

.input-notification {
				background-position: left 2px;
				background-repeat: no-repeat;
				padding: 2px 0 2px 22px;
				background-color: transparent;
				margin: 0 0 0 5px;
				}

/* Notification for login page */

#login-wrapper #login-content .notification {
				border: 0;
				background-color: #141414;
				color: #fff !important;
				}

/********************************      Login Page      ********************************/

body#login {
                color: #fff;
                background: #222 url('../images/bg.jpg');
				background-size:cover;
				}
				
#login-wrapper {
                background:#000;
				border: 5px solid #ff7b7b;
    -moz-border-radius: 30px;/*Firefox*/
-webkit-border-radius: 30px;/*Safari, Chrome*/
border-radius: 30px;

    margin-top: 140px;
				}

#login-wrapper #login-top {
				width: 100%;
				padding: 28px 0 50px 0;
				text-align: center;
				}
				
#login-wrapper #login-content {
				text-align: left;
				width: 300px;
				margin: 0 auto;
				}
				
#login-wrapper #login-content label {
				color: #fff;
				font-weight: normal;
				font-size: 14px;
				font-family: Helvetica, Arial, sans-serif;
				float: left;
				width: 70px;
				padding: 0;
				}
				
#login-wrapper #login-content input {
				width: 200px;
				float: right;
				margin: 0 0 20px 0;
				border: 0;
				background: #fff;
				}
				
#login-wrapper #login-content p {
				padding: 0;
				}
				
#login-wrapper #login-content p#remember-password {
				float: left;
				}
				
#login-wrapper #login-content p#remember-password input {
				float: none;
				width: auto;
				border: 0;
				background: none;
				margin: 0 10px 0 0;
				}
				
#login-wrapper #login-content p .button {
				width: auto;
				}

/********************************      jQuery plugins styles      ********************************/

/*************** Facebox ***************/

#facebox .b {
  background:url(../images/b.png);
}

#facebox .tl {
  background:url(../images/tl.png);
}

#facebox .tr {
  background:url(../images/tr.png);
}

#facebox .bl {
  background:url(../images/bl.png);
}

#facebox .br {
  background:url(../images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/*************** jQuery WYSIWYG ***************/

div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; width: 97.5% !important; }
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 5px 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 0 2px; padding: 0 !important;  background: #ffffff; background-image: none !important;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a { display: block; padding: 0 !important; width: 16px; height: 16px; background: url('../images/icons/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {  }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }

div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }

div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html { background-position: -48px -48px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -64px; }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; width: 97.5% !important; }

.Registerinner .pagination span {float: none; margin-bottom:5px; line-height:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#900; }

.Registerinner{ width:100%; float:left; min-height:300px;margin-top: 15px; padding:6px 0 0 0;}
.Registerinner dl {float:left; width:592px; padding:0px 0 0 0; margin-bottom:10px; line-height:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#545454; }
.Registerinner span {float:left; padding:0px 0 0 0; margin-bottom:5px; line-height:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#900; }
.Registerinner  dt {float:left; width:28%;  padding:8px 0 0 0; }
.Registerinner dd {float:right; width:70%;}

.Registerinner textarea { border:1px solid #33; float: left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; width:100%; padding: 48px; margin:11px;}
.Registerinner input { padding: 5px; width: 59%; float:left; border:1px solid #CCCCCC; color: #333; }

.commercial input { padding: 5px; float:left; background-color:#C9C6C6; color: #000; border:0px;}

.commercial dl {float:left; width:592px; padding:0px 0 0 0; margin-bottom:10px; line-height:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#545454; }
.commercial span {float:left; width:100%; padding:0px 0 0 0; margin-bottom:5px; line-height:14px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#900; }
.commercial  dt {float:left; width:28%; text-align:right; padding:8px 0 0 0; }
.commercial dd {float:right; width:70%;}

.commercial textarea { background-color:#C9C6C6; color:#000; border:0px; float: left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; width: 283px; padding: 5px;}
/*-- 16 Oct 2012 --------------------------------------*/

.content-box-content2 {  border-top: 1px solid #CCCCCC;
    font-size: 13px;
    padding: 5px;
	border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; font-weight:bold; text-align: center; color: #333333; background-color: #f4f5f5;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f5), color-stop(100%, #dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(top, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);} 
	
.Pop_Inner th { padding:10px 0px 10px 20px; font-weight:bold; background-color:#4C9800; color:#fff; }
.Pop_Inner td { padding:10px 0px 10px 20px; }

.content-box-header2 {
	 border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	 background: url(../images/tb_bg.png) repeat;
	 padding:10px;
	 border-radius:6px;
	
	
	}
ul.content-box-link {
    float: right;
    margin: 0 !important;
    padding: 12px 15px 0 0 !important;
}
ul.content-box-link li {
    background-image: none !important;
    float: left;
    margin: 0;
    padding: 0 !important;
}
ul.content-box-link li a.current {
    background: url("../images/bg-button-green.gif") repeat-x scroll left top #e33b3b !important;
    border: 1px solid #e33b3b !important;
    color: #FFFFFF;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
ul.content-box-link li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F4F5F5;
    background-image: -moz-linear-gradient(center top , #F4F5F5, #DFDDDD);
    border-bottom: medium none !important;
    border-image: none;
    border-left: 1px solid #D7DADA;
    border-radius: 4px 4px 0 0;
    border-right: 1px solid #D7DADA;
    border-top: 1px solid #D7DADA;
    color: #333333;
    display: block;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 8px 30px;
    text-align: center;
}	
ul.content-box-link li a.current {
    border-radius: 6px 6px 0 0;
}
ul.content-box-link li a.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin: 0;
}
ul.content-box-link li a {
    border-bottom: 0 none;
    color: #333333;
    display: block;
    margin: 1px;
    padding: 8px 10px;
}

/*ul.content-box-link li a:hover {
    color: #ffffff;
}*/
ul.content-box-link li a {
    border-bottom: 0 none;
    color: #333333;
    display: block;
    margin: 1px;
    padding: 8px 10px;
}


.content-box-content input[type="text"]
{
	    border: 1px solid #CCC !important;
    color: #333333 !important;

    padding: 5px !important;
		vertical-align:middle !important;
		width:200px;
	}
	
/*  edit by Gaurav*/
.Registerinner dp  {
    color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-left: 77px;
    padding: 0;
    width: 300px;
}

.Registerinner dm  {
    color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 0;
    width: 275px;
}

.Registerinner dc  {
    color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-left: 70px;
    padding: 0;
    width: 201px;
}
.Registerinner df  {
    color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0;
    width: 275px;
}

.login_container{ width:400px; margin:0 auto;}




.clr_1{ clear:both;}
.clr{ clear:both;}
.b_popupContainer{width:600px; height:auto; margin:20px auto; }
.b_popupHeading{  height:35px;font-size:26px; color:#333333; font-weight:bold; background:#999; padding:3px 0 0 10px; margin-top:1px;}
.b_forumContainer{width:435px; height:auto; float:left; padding:10px;}
.b_forumRow1{width:100%; height:auto; float:left; padding:0 0 0px 0;}
.b_ratingCont{width:100%; height:auto; float:left; padding:0 0 10px 0;}
.weight_cont{width:100%; height:auto; float:left; padding:0 0 10px 0;}
.b_msgCont{width:100px; height:auto; float:left;  color:#222;  padding:0 0 5px 5px; font-size:15px;}
.b_approveButton{width:200px; height:30px; float:left; padding:13px 0 8px 104px;}
.b_popup_msgClass{ width:320px; height:100px; }
.b_popup_dropListClass{ width:100px; height:25px; padding:3px ; }
.b_popup_enterValueListClass{ width:190px; height:17px; padding:3px ; }
.b_popup_address{ width:330px; height:auto; float:left; color:#333333; padding:0 0 0 0px;}
.b_popup_city{ width:330px; height:auto; float:left; color:#333333; padding:0 0 0 0px; }
.b_popupHeading h2{ padding:3px 0 0 10px; color:#fff;}
.progress {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    padding: 1px;
    position: relative;
    width: 337px;
}

.bar {
    background-color: #E17E1C;
    border-radius: 3px 3px 3px 3px;
    height: 20px;
    width: 0;
}

.percent {
    display: inline-block;
    left: 48%;
    position: absolute;
    top: 3px;
}

.delete_btn{ float:right;margin-top: -20px; }
.detailer{ float:left;}