.left {
	float: left;
}
.right {
	float: right;
}
/************** SIGN UP FORM ******************/

#signup {
	/*padding-top: 40px;*/
	margin-bottom: 40px;
}
#signup hgroup {
	margin-bottom: 50px;
}
#signup hgroup h1 {
	width: 370px;
	height: 80px;
	margin: 0px auto 20px auto;
}
#signup hgroup h1 a {
	background: url(../images/static_sprite.png) 0px -1700px no-repeat;
	width: 370px;
	height: 100px;
	overflow: hidden;
	text-indent: -3000px;
	display: block;
}
#signup #signup-form {
    display: inline;
    float: left;
    margin: 0 10px 45px 0px;
	min-height:352px;
	height:auto;
    /*overflow-y: scroll;*/
    width: 580px;
}
#signup #signup-form.reset-password-form {
	float: none;
	margin: 0px auto;
	display: block;
}
#signup #signup-form .error_message {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: #fff7ce;
	border: 1px solid #ff9900;
	color: #2b3543;
	font-size: 13px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	line-height: 24px;
	text-decoration: none;
	padding: 10px;
	margin: 0px 30px 20px 30px;
}
#signup #signup-form form {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	background-color:#FFF;
	/*height:630px;*/
}
#signup #signup-form form header {
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
	background: #eeeeee;
	background: white;
	background: -moz-linear-gradient(100% 100% 90deg, #eeeeee, white);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#eeeeee));
	background: -o-linear-gradient(white, #eeeeee);
	color: #999999;
	margin-bottom: 10px;
}
#signup #signup-form form header h1 {
	line-height: 25px;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	text-align: center;
	color: #999999;
	padding: 0;
	text-shadow: none;
	font-weight: normal;
}
#signup #signup-form form p.notice {
	padding: 0px 30px 20px 30px;
	color: #555555;
}
#signup #signup-form form p.card_notice {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: #eeeeee;
	border: 1px solid #cccccc;
	color: #555555;
	padding: 10px;
}
#signup #signup-form form dl {
	padding: 0px 30px 30px 30px;
}
#signup #signup-form form dl dt, #signup #signup-form form dl dd {
	margin-bottom: 10px;
}
#signup #signup-form form dl dt {
	font-weight: bold;
	font-size: 20px;
	color: #2b3543;
}
#signup #signup-form form dl dd {
	color: #555555;
	font-size: 14px;
}
#signup #signup-form form dl dd strong {
	display: block;
	background: url(../images/goalstacker-sprite.png) 0px -3044px no-repeat;
	padding-left: 25px;
	line-height: 20px;
}
#signup #signup-form form dl dd em {
	font-style: italic;
	color: #999999;
	font-size: 12px;
}
#signup #signup-form form ul {
	padding: 0 30px 9px;
}
#signup #signup-form form ul p {
	font-size: 15px;
	font-weight: bold;
	color: #2b3543;
	margin-right: 20px;
}
#signup #signup-form form ul input.firstname, #signup #signup-form form ul input.lastname, #signup #signup-form form ul input.password, #signup #signup-form form ul input.confirm {
	width: 278px;
}

#signup #signup-form form ul input.creditcard {
	width: 125px;
	margin-right: 20px;
}

#signup #signup-form form ul input.cvc {
	width: 48px;
}
#signup #signup-form form ul input.discount,input.discountamount {
	width: 165px;
}
#signup #signup-form form ul input.email, #signup #signup-form form ul input.long {
	width: 613px;
}
#signup #signup-form form ul input.text {
	padding: 2px 5px;
	font-size: 13px;
}
#signup #signup-form form fieldset.interested {
	display: none;
}
#signup #signup-form form .payment-methods {
	background: url(../images/static_sprite.png) 0px -800px no-repeat;
	width: 150px;
	height: 23px;
	overflow: hidden;
	text-indent: -3000px;
	margin: 0px 0px 0px 0px;
}
#signup #signup-form form .month, #signup #signup-form form .year {
	float: left;
	margin-right: 10px;
}
#signup #signup-form form .month {
	margin-left: 20px;
}

#signup #signup-form form .discount {
	margin-left: 0px;
}
#signup #signup-form form fieldset {
	margin: 0 28px;
    padding: 5px 0 5px 10px;
    width: 608px;
		}
		
#signup #signup-form form fieldset ul {
	padding: 0;
}
#signup #signup-form form footer {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: 0;
    clear: both;
    height: 25px;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    width: 560px;
}
#signup #submit-button.disabled {
	background: #eeeeee;
	border: 1px solid #cccccc;
	color: #999999;
	text-shadow: none;
}
#signup #account-features {
	width: 220px;
	margin: 0px 10px;
	padding-left: 60px;
	float: left;
	display: inline;
	text-align: left;
}
#signup #account-features #selected-plan {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.15);
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
}
#signup #account-features #selected-plan dt {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
	display: block;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	font-weight: bold;
	font-size: 18px;
	color: #999999;
	line-height: 48px;
	text-shadow: 0px 1px 0px white;
	text-align: center;
	border-bottom: 1px solid #dddddd;
}
#signup #account-features #selected-plan dd {
	font-size: 13px;
	color: #999999;
	margin-bottom: 10px;
}
#signup #account-features #selected-plan dd:last-child {
	margin-bottom: 0;
}
#signup #account-features #selected-plan strong {
	font-weight: bold;
}
#signup #account-features h2 {
	text-shadow: 0px 1px 0px white;
	font-weight: bold;
	font-size: 13px;
	line-height: 35px;
	padding-left: 35px;
	color: #2a3442;
}
#signup #account-features h2.icon-check {
	background: url(../images/static_sprite.png) 0px -900px no-repeat;
}
#signup #account-features h2.icon-cloud {
	background: url(../images/static_sprite.png) 0px -1100px no-repeat;
	line-height: 25px;
	padding-left: 45px;
}
#signup #account-features h2.icon-lock {
	background: url(../images/static_sprite.png) 0px -1000px no-repeat;
}
#signup #account-features h2.icon-cal {
	background: url(../images/static_sprite.png) 0px -1200px no-repeat;
	padding-left: 45px;
}
#signup #account-features p {
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
	color: #999999;
}
/*************SIGN UP END***************/


/*****************FORM START***************/

.form {
	text-align: left;
	background-color:#FFF;
}
.form .tos {
	font-family: arial, san-serif;
	font-size: 11px;
	color: #999999;
	margin-bottom: 10px;
	padding: 0px 30px;
	clear: both;
}
.form .tos em {
	font-family: Baskerville, Constantia, "Palatino Linotype";
	font-style: italic;
	font-size: 14px;
	margin: 0px 2px;
}
.form .tos a {
	font-size: 10px;
	color: #999999;
}
.form fieldset {
	border: 1px solid #dddddd;
}
.form fieldset legend {
	background: white;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif ;
	color: #999999;
	padding-right: 10px;
	display: block;
}
.form fieldset legend.icon-cc {
	padding-left: 40px;
	background: url(../images/goalstacker-sprite.png) 0px -1696px no-repeat;
	line-height: 32px;
	font-family:Arial, Helvetica, sans-serif; color:#999999;
}
.form li {
	margin: 0 0 10px;
}
.form li:last-child {
	
	padding-top:0px;
}
.form label {
	margin-bottom: 0px;
	display: block;
	font-size: 12px;
	color: #999999;
}
.form label.hint {
	font-style: italic;
	font-size: 11px;
	color: #cccccc;
}
.form .text {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	display: block;
	border: none;
	padding: 8px 5px;
	font-size: 21px;
	border: 1px solid #cbcbcb;
	color: #999999;
}
.form .text:active, .form .text:focus {
	background: #FFC891;
	opacity: 1;
	color: #033206;
	border: 1px solid #FB7F02;
}
.form select {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
	display: block;
	border: none;
	padding: 7px 5px;
	font-size: 13px;
	border: 1px solid #cbcbcb;
	color: #999999;
}
.form ul li select{
	width:250px;
}
.form select:active, .form select:focus, .form select:hover {
	color: #2b3543;
}
.form label.error {
	color: #990000;
	font-weight: bold;
}
.form input.error {
	border: 1px solid #990000;
	background: #fff9f9;
}
/*****************FORM END********************/


/*************BUTTON START**************/

.button-primary, .button-primary-large {
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.3);
	background: #51b6f4;
	background: -moz-linear-gradient(100% 100% 90deg, #257A05, #6DA044) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#257A05), to(#6DA044));
	background: -o-linear-gradient(#257A05, #6DA044);
	border: 1px solid #377608;
	float: left;
}
.button-primary-large, .button-secondary-large {
	float: none;
	line-height: 48px;
	font-size: 18px;
	width: 150px;
	margin: 0px auto;
}
input.button-primary {
	color: white;
	height: 40px;
	line-height: 40px;
	text-shadow: 1px 1px #000000;
}
.right{
	float:right;
}
.button-grid {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	background: #d6e7ed url(../images/criss_cross_bg.png) 0px 0px repeat;
	color: #999999;
	font-size: 18px;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
	display: block;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
}
.button-grid:hover {
	color: #267A06;
}
/*************BUTTON END**************/

/*************LOGIN START************/

#login h1 {
	overflow: hidden;
	height: 130px;
	width: 130px;
	margin: 30px auto;
}
#login h1 a {
	display: block;
	background: url(../images/static_sprite.png) 0px -1800px no-repeat;
	overflow: hidden;
	text-indent: -3000px;
	height: 130px;
	width: 130px;
}
#login .forgot-password {
    color: #267A06;
    float: left;
    margin-top: 5px;
}
#login .pitch {
	width: 360px;
	margin: 0px auto 40px auto;
}
#login #box {
	width: 460px;
	margin: 0px auto 40px auto;
}
#login #box ul {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	background: white;
	background: -moz-linear-gradient(100% 100% 90deg, #e2e2e2, white);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(white), to(#e2e2e2));
	background: -o-linear-gradient(white, #e2e2e2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
	height:310px;
}
#login label {
	font-size: 13px;
	color: #999999;
	margin-bottom: 10px;
	line-height: 13px;
}
#login input.text {
	width: 388px;
	padding: 10px 5px;
}
#login input.button-primary {
	margin-top: 20px;
	height: 40px;
	font-size: 16px;
	padding: 0px 30px;
}
#login .button-or {
	margin-top: 30px;
}
#login .button-link {
	margin-top: 30px;
}
#login label.error {
	color: #990000;
}
#login .error_message {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	color: #990000;
	background: #fff9f9;
	font-size: 18px;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	text-shadow: 0px 1px 0px white;
	text-align: center;
	display: block;
	line-height: 28px;
	text-decoration: none;
	margin-bottom: 20px;
	padding: 15px;
}
#login .success_message {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.9);
	color: #62941b;
	background: #ebffcf;
	font-size: 18px;
	font-family: "Helvetica Neue", Arial, Verdana, san-serif;
	text-shadow: 0px 1px 0px white;
	text-align: center;
	display: block;
	line-height: 28px;
	text-decoration: none;
	margin-bottom: 20px;
	padding: 15px 15px 15px 38px;
}


/*************LOGIN END*************/

.button-chrome-store{
	margin:0 auto;
}

.f_text{
    color: #267A06;
    font-size: 19px;
    font-weight: bold;
    padding-right: 7px;
    position: relative;
    text-shadow: 1px 1px #FFFFFF;
    top: 14px;
	text-decoration:none;
}
.f_text a:link{
	text-decoration:none;
    color: #267A06;
}
.f_text a:hover{
	text-decoration:none;
    color: #267A06;
}
.f_text a:visited{
	text-decoration:none;
    color: #267A06;
}
.bottom_bar_social{
    border-top: 1px dashed #CCCCCC;
    clear: both;
    position: relative;
    text-align: center;
    top: 20px;
}

/**********plan************/

.plan1{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	border-color:#97c955;
    border-style: solid;
    border-width: 1px;
    margin:30px 10px 30px 11px;
    padding: 10px;
	width:150px;
	background-color:#e4f9c7;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	float:left;
}
.blue{
	background-color:#c0e9f9 !important;
	border-color:#64b5da !important;
}
.green{
	background-color:#bbf9ee !important;
	border-color:#50bcaa !important;
}
.plan1 ul {
	padding:0 !important;
	margin:0 !important;
}
.plan1 ul li {
	padding:0 !important;
	margin:0 !important;
}
.plan-name{
    border-bottom: 1px dashed #CCCCCC;
    font-size: 16px;
    height: 25px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
}
.g1{
	border-bottom:1px dashed #97c955 !important;
}
.b1{
	border-bottom:1px dashed #64b5da !important;
}
.g2{
	border-bottom:1px dashed #50bcaa !important;
}
.plan-price{
	font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 80px;
    letter-spacing: -5px;
    line-height: 52px;
    margin-top: 7px !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	text-align:center;
}
.plan-price span {
    letter-spacing: 0 !important;
}
.dollar-sign {
    font-size: 18px;
    vertical-align: text-top;
}
.per-month {
    font-size: 13px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.btn-grey.pricing {
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    display: block;
    font-size: 14px;
    margin: 0px;
    padding: 10px;;
}
.btn-grey {
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #dbdbdb;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #bebebe;
	padding: 7px 9px;
	-moz-border-radius: 5px 5px 5px 5px 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px 5px 5px 5px 5px;
	text-shadow: 0px 1px 1px #fff;
	color: #3a3a3a;
	position: relative;
	box-shadow: inset 0 1px 0px 0px #fff, 0px 1px 0px #eee;
	text-decoration: none;
	font-size: 10px;
	line-height: 15px;
	display: block;
	background: #f8f8f8;
	background-color: #ececec;
	background-image: -o-linear-gradient(#f8f8f8, #ececec);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ececec), color-stop(1, #f8f8f8));
	background-image: -moz-linear-gradient(center bottom, #ececec 0%, #f8f8f8 100%)
}
.btn-grey:hover, a.btn-grey:hover {
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	z-index: 3;
	color: #333;
	background: #f8f8f8;
	background-color: #ececec;
	background-image: -o-linear-gradient(#f8f8f8, #ececec);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ececec), color-stop(1, #f8f8f8));
	background-image: -moz-linear-gradient(center bottom, #ececec 0%, #f8f8f8 100%)
}

.plan1 input {
    margin: 0 auto;
    width: 100%;
}
.month select{
	width:124px !important;
	height:30px;
}
.year select{
	width:104px !important;
	height:30px;
}

.Select_Plan {
    clear: both;
    height: 93px;
    margin-left: 170px;
    margin-right: 30px;
   
    width: 644px;
  
 
}




.Select_Plan h2 { font-size:17px; color:#999999; font-family:Arial, Helvetica, sans-serif; font-weight:normal; margin:0px 0px 5px 25px;}

.Plan_box { float:left; width:113px; height:54px; background:#F7F7F7; border:1px solid #ccc;  margin-right:10px; border-radius:4px; margin-bottom:20px; margin-top: 10px; }
.Redbox {  
	background: none repeat scroll 0 0 #CC0000;
    border: 1px solid #FF5656;
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: 54px;
   }

.Plan_box h3 { height:20px; text-align:center;  color:#fff; font-weight:normal; }
.Plan_box h4 {  text-align:center;  color:#ED910B; font-size:20px; font-weight:normal; }
.Plan_box h5 {  text-align:center;  color:#333; font-size:14px; font-weight:bold; }
.Plan_box h6 {  text-align:center;  color:#8A2B0F; font-size:12px; font-weight:bold; margin-top:5px; }

.steps h1 { background: -moz-linear-gradient(100% 100% 90deg, #EEEEEE, white) repeat scroll 0 0 transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   
		padding:2px 0px 2px 10px;
		
		 color: #999999;
    font-family: "Helvetica Neue",Arial,Verdana,san-serif;
    font-size: 14px;
    font-weight: normal;
    
    
   
   
   }


